{% extends 'base.html' %}

{% block content %}

{% load static %}
<style type="text/css">

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="username"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .h3{
        text-align: center;
    }
    
</style>

<form class="form-signin" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">PLAY</h1>

    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
    value="{{account_form.initial.email}}" readonly="readonly">

    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required 
    value="{{account_form.initial.username}}" readonly="readonly">

    <input type="text" name="earned_scores" id="playerscards" class="form-control" placeholder="score" 
    readonly="readonly">
    
    {% for field in account_form %}
        <p>
          {% for error in field.errors %}
             <p style="color: red;">{{error}}</p>
          {% endfor %}
        </p>
    {% endfor %}    
  
    {% if account_form.non_field_errors %}
        <div style="color: red;">
          <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}

    {% if success_message %}
    <a href=""><p style="color:green; text-align: center;">{{success_message}}</p></a>
    {% endif %}
    <button id= "btn1" class="btn btn-lg btn-primary btn-block" onclick="randomScore()" type="submit">Play</button>
    <button id= "btn2" class="btn btn-lg btn-primary btn-block" type="submit">Save your score</button>

</form>

<script src="{% static 'js/random_score.js' %}"></script>

{% endblock content %}